* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    background-color: hsl(220, 30%, 30%);
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}
